[newhost]
hostname.local      ansible_user=username

# the [hewhost] section header is required

# 'hostname.local' - replace with IP address or hostname of target host

# ansible_user=username - specify when remote username is different than
#                         current user on the control machine
#                         Change 'username' to the username on the target host
